body {
   font-family: 'Nanum Pen Script', cursive;
   background-color: whitesmoke;
   box-sizing: border-box;
}

button {
   font-family: 'Nanum Pen Script', cursive;
   font-size: 22px;
}

h1 {
   font-size: 45px;
}

.container {
   display: grid;
   width: 500px;
   height: 500px;
   /*  grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr); */
   border: 1px solid rgb(8, 8, 8);
   background-color: rgb(8, 8, 8);
}

.square {
   background-color: rgb(255, 255, 255);
}

.container.line {
   gap: 1px;
}

.container div.red {
   background-color: red;
}

/* button {
   display: block;
} */

.zero {
   display: flex;
   justify-content: center;
}
.second {
   display: flex;
   flex-direction: column;
   gap: 13px;
   /*justify-content: center; */
   margin-top: 50px;
}

/* .third {
   margin-top: 35px;
} */

button {
   width: 70px;
   margin-left: 10px;
}

.rangeDiv {
   margin-left: 10px;
}

.range {
   width: 100px;
}

.output {
   font-size: 25px;
}

h1 {
   margin: 0;
   margin-bottom: 10px;
   text-align: center;
}
/* COLOR PICKER */
#picker1 {
   width: 128px;
   height: 128px;
}

.color-picker {
   background-color: inherit;
   /* margin-top: 34px; */
}

/* .container.three {
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
} */
